<h1>Directory of Student Pages</h1>

<ul>
<li><%= link_to 'jamesf243', jamesf243_path %></li>
<li><%= link_to 'pkmaster23', pkmaster23_path %></li>
<li><%= link_to 'kagwyn', kagwyn_path %></li>
</ul>
